<footer class="footer">
    <div class="footer__addr">
        <h1 class="footer__logo">{{ store.name }}</h1>

        <address>
            {{ store.description|default('Welcome to our store!')|raw }}
            <p>&copy; {{ "now"|date("Y") }} {{ store.name }}. All rights reserved.</p>
        </address>
    </div>

    <ul class="footer__nav">
        <li class="nav__item">
            <h2 class="nav__title">Categories</h2>

            <ul class="nav__ul">
                {% for category in categories %}
                <li>
                    <a href="{{ path('category', {slug: category.slug}) }}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>

        <li class="nav__item">
            <h2 class="nav__title">Links</h2>

            <ul class="nav__ul">
                {% for page in pages %}
                <li>
                    <a href="{{ path('page', {slug: page.slug}) }}">{{ page.name }}</a>
                </li>
                {% endfor %}
                <li>
                    <a href="https://discord.gg/Gkmk6G2fjd" target="_blank">Discord</a>
                </li>
            </ul>
        </li>

        <li class="nav__item">
            <h2 class="nav__title">Account</h2>

            <ul class="nav__ul">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>
                    <a href="{{ path('basket') }}">My Basket</a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ path('login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </li>
    </ul>

    <div class="legal">
        <p>&copy; {{ "now"|date("Y") }} {{ store.name }}</p>

        <div class="legal__links">
            <span>Powered by <a href="https://craftingstore.net" target="_blank" rel="noopener">CraftingStore</a></span>
        </div>
    </div>
</footer>
